*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blanchedalmond;
}
/* CSS for Navbar*/
nav{
    display:flex;
    position: sticky;
    justify-content: space-between;
    z-index: 10;
    top: 0;
    left: 0;
    background: black;
}
ul{
    display: flex;
}
li{
    list-style: none;
    font-size: 2vw;
    text-align: center;
}
a{
    display: block;
    padding: 0 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    background: white;
}


/* CSS for About Body*/

h1{
    text-align: center;
    font-family: cursive;

}
img{
    width: 300px;
    height: 400px;
    padding-left: 450px;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
}
.abt{
    display: flex;
    flex-direction:column;
    padding: 5px;
    width: auto;
    height: 50%;
    margin: 30px;
}
.abt1{
    margin: 30px 200px;
    padding: 50px;
    width: auto;
    height: 50%;
    background-color:coral;
    border-radius: 20px;
}

p{
   font-size: 30px; 
   font-family:'Roboto', sans-serif;
}
