*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blanchedalmond;
}
/* CSS for Navbar*/
nav{
    display:flex;
    position: sticky;
    justify-content: space-between;
    z-index: 10;
    top: 0;
    left: 0;
    background: black;
}
ul{
    display: flex;
}
li{
    list-style: none;
    font-size: 2vw;
    text-align: center;
}
a{
    display: block;
    padding: 0 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    background: white;
}


/* CSS for home Body*/
article{
    padding:50px;
    margin: 0px 200px;
}
h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
p{
    padding: 10px 15px;
    font-size: 25px;
    font-family:'Roboto Mono', monospace;
}
h2{
    padding: 10px 0px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.wd{
    padding: 0 45px;
}
.ea{
    padding: 10px 0;
}
ol{
    padding: 0 45px;
    font-size: 20px;
}
li{
    padding: 10px 0;
}
.map{
    width: 300px;
    height: 250px;
    float:right;
    padding-left: 20px;
}
.maur{

    float: right;
        
    padding-left: 20px;
        
    width: 220px;
        
    height: 220px;
    
}
.craft{
    float: right;
    padding-left: 20px;
    width: 250px;
    height: 150px;
}
.dance{
    float: right;
    width: 190px;
    height: 100;
}
    
.emp{
        
    text-align: justify;
}
.chatth{
    float: right;
    padding-left: 20px;
    width: 200px;
    height: 180px;
}


